h1{
    text-align: center;
}
hr {
    display: block;
    height: 5px;
    border: 0;
    background-image: linear-gradient(to right, #ff7382, #cb2fe7);
    margin: 1em 0;
    padding: 0;
}

input, label {
    display:block;
}
.button_menu {
    height: 80px;
}
.button_menu a {
    display: block;
    float: right;
    height: 50px;
    width: 100px;
    margin-right: 5px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    padding: 10px 20px;
    border: 5px solid transparent;
    background-image: linear-gradient(to right, #ff7382, #cb2fe7);
    border-radius: 20px;
    box-shadow: 0 0 0 100px #fff inset;
    background-origin: border-box;
}
.b1 {
    font-size: larger;
    color: white;
    font-weight: bold;
}
.reg_block {
    text-align: center;
}
.block {
    text-align: center;
    padding: 10px 20px;
    line-height: 300%;
    font-size: larger;
    color: black;
    font-weight: bold;
    background: border-box rgba(0,0,0,0.3);
    border-radius: 20px;
    display: inline-block;
    width: fit-content;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cột với chiều rộng bằng nhau */
    gap: 60px; /* Khoảng cách giữa các card */
    justify-items: center; 

}

.card {
  position: relative;
  width: 190px;
  height: 254px;
  background-color: #161529;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}


.test-title {
    color: white;
    font-size: 18px;
    /* font-weight: bold; */
    margin-bottom: 50px;
}

.test-icon {
    font-size: 48px;
    margin-bottom: 50px;
}

.full-wh {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.bg-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

